.no-outline {outline:none;}.no-view{display:none;visibility:hidden;}.no-border{border:none;}
.text-left {text-align:left;}.text-center {text-align:center;}.text-right {text-align:right;}.text-justify {text-align:justify;}
.uCase{text-transform:uppercase;}.lCase{text-transform:lowercase;}.fCase::first-letter{text-transform:uppercase;}
.i{font-style:italic;}.b{font-weight:bold;}.u{text-decoration:underline;}.small {font-size: smaller;}
img {overflow:hidden; border:0;}
.img-max{width:100%;height:auto;border:0;}
.img-responsive{max-width:100%;height:auto;border:0;}
.img-zoom{border:0;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;max-width: 100%;}
.img-zoom:hover{-webkit-transform:scale(1.25); -moz-transform:scale(1.25); -ms-transform:scale(1.25); -o-transform:scale(1.25); transform:scale(1.25);}
.fLeft {float:left;}.fRight {float:right;}
.color-normal {filter: invert(0%);}.color-invert {filter: invert(100%);}
.fSize1em {font-size:1em}.fSize2em {font-size:2em}.fSize3em {font-size:3em}

.color-white,.color-white:hover{color:#fff;}.color-white.push{color:#fff !important;}
.color-black,.color-black:hover{color:#000;}.color-black.push{color:#000 !important;}
.color-green,.color-green:hover{color:#26B26E;}.color-green.push{color:#26B26E !important;}
.color-blue,.color-blue:hover{color:#008CB8;}.color-blue.push{color:#008CB8 !important;}
.color-red,.color-red:hover{color:#F81F48;}.color-red.push{color:#F81F48 !important;}
.color-orange,.color-orange:hover{color:#ff6600;}.color-orange.push{color:#ff6600 !important;}

.cursor-pointer{cursor:pointer;}.cursor-help{cursor:help;}

.p-no {padding:0 !important;}.pt-no {padding-top:0 !important;}.pb-no {padding-bottom:0 !important;}.pl-no {padding-left:0 !important;}.pr-no {padding-right:0 !important;}
.p-5px {padding:5px;}.pt-5px {padding-top:5px;}.pb-5px {padding-bottom:5px;}.ptb-5px {padding-top:5px;padding-bottom:5px;}.pl-5px {padding-left:5px;}.pr-5px {padding-right:5px;}.plr-5px {padding-left:5px;padding-right:5px;}
.p-10px {padding:10px;}.pt-10px {padding-top:10px;}.pb-10px {padding-bottom:10px;}.ptb-10px {padding-top:10px;padding-bottom:10px;}.pl-10px {padding-left:10px;}.pr-10px {padding-right:10px;}.plr-10px {padding-left:10px;padding-right:10px;}
.p-15px {padding:15px;}.pt-15px {padding-top:15px;}.pb-15px {padding-bottom:15px;}.ptb-15px {padding-top:15px;padding-bottom:15px;}.pl-15px {padding-left:15px;}.pr-15px {padding-right:15px;}.plr-15px {padding-left:15px;padding-right:15px;}
.p-20px {padding:20px;}.pt-20px {padding-top:20px;}.pb-20px {padding-bottom:20px;}.ptb-20px {padding-top:20px;padding-bottom:20px;}.pl-20px {padding-left:20px;}.pr-20px {padding-right:20px;}.plr-20px {padding-left:20px;padding-right:20px;}
.p-30px {padding:30px;}.pt-30px {padding-top:30px;}.pb-30px {padding-bottom:30px;}.ptb-30px {padding-top:30px;padding-bottom:30px;}.pl-30px {padding-left:30px;}.pr-30px {padding-right:30px;}.plr-30px {padding-left:30px;padding-right:30px;}
.p-40px {padding:40px;}.pt-40px {padding-top:40px;}.pb-40px {padding-bottom:40px;}.ptb-40px {padding-top:40px;padding-bottom:40px;}.pl-40px {padding-left:40px;}.pr-40px {padding-right:40px;}.plr-40px {padding-left:40px;padding-right:40px;}

.m-no {margin:0 !important;}.mt-no {margin-top:0 !important;}.mb-no {margin-bottom:0 !important;}.ml-no {margin-left:0 !important;}.mr-no {margin-right:0 !important;}
.m-5px {margin:5px;}.mt-5px {margin-top:5px;}.mb-5px {margin-bottom:5px;}.mtb-5px {margin-top:5px;margin-bottom:5px;}.ml-5px {margin-left:5px;}.mr-5px {margin-right:5px;}.mlr-5px {margin-left:5px;margin-right:5px;}
.m-10px {margin:10px;}.mt-10px {margin-top:10px;}.mb-10px {margin-bottom:10px;}.mtb-10px {margin-top:10px;margin-bottom:10px;}.ml-10px {margin-left:10px;}.mr-10px {margin-right:10px;}.mlr-10px {margin-left:10px;margin-right:10px;}
.m-15px {margin:15px;}.mt-15px {margin-top:15px;}.mb-15px {margin-bottom:15px;}.mtb-15px {margin-top:15px;margin-bottom:15px;}.ml-15px {margin-left:15px;}.mr-15px {margin-right:15px;}.mlr-15px {margin-left:15px;margin-right:15px;}
.m-20px {margin:20px;}.mt-20px {margin-top:20px;}.mb-20px {margin-bottom:20px;}.mtb-20px {margin-top:20px;margin-bottom:20px;}.ml-20px {margin-left:20px;}.mr-20px {margin-right:20px;}.mlr-20px {margin-left:20px;margin-right:20px;}
.m-30px {margin:30px;}.mt-30px {margin-top:30px;}.mb-30px {margin-bottom:30px;}.mtb-30px {margin-top:30px;margin-bottom:30px;}.ml-30px {margin-left:30px;}.mr-30px {margin-right:30px;}.mlr-30px {margin-left:30px;margin-right:30px;}
.m-30px {margin:40px;}.mt-40px {margin-top:40px;}.mb-40px {margin-bottom:40px;}.mtb-40px {margin-top:40px;margin-bottom:40px;}.ml-40px {margin-left:40px;}.mr-40px {margin-right:40px;}.mlr-40px {margin-left:40px;margin-right:40px;}

@media (max-width: 767px) {.hidden-xs{display:none !important;}.text-left-xs {text-align:left !important;}.text-center-xs {text-align:center !important;}.text-right-xs {text-align:right !important;}.text-justify-xs {text-align:justify !important;}}
@media (min-width: 768px) and (max-width: 991px) {.hidden-sm{display:none !important;}.text-left-sm {text-align:left !important;}.text-center-sm {text-align:center !important;}.text-right-sm {text-align:right !important;}.text-justify-sm {text-align:justify !important;}}
@media (min-width: 992px) and (max-width: 1199px) {.hidden-md{display:none !important;}.text-left-md {text-align:left !important;}.text-center-md {text-align:center !important;}.text-right-md {text-align:right !important;}.text-justify-md {text-align:justify !important;}}
@media (min-width: 1200px) {.hidden-lg{display:none !important;}.text-left-lg {text-align:left !important;}.text-center-lg {text-align:center !important;}.text-right-lg {text-align:right !important;}.text-justify-lg {text-align:justify !important;}}

/* by Misoss v1.6 */